[user]
	name = Alexander Peterson
	email = for.alexpeterson@gmail.com
[core]
	editor = nvim
	whitespace = error
    pager = "if [ ! -z \"$(which diff-so-fancy)\" ]; then diff-so-fancy | less --tabs=4 -RFX; else less; fi"
[pull]
	rebase = true
[status]
	branch = true
	short = true
	showStash = true
	showUntrackedFiles = all
[init]
	defaultBranch = main
