alias clea='clear'
alias grep='grep --color=auto'
alias ff='vim -o `fzf`'
alias gs='git status'
alias gc='git commit'
alias ga='git add'
alias ll='gls --color=auto --group-directories-first'
alias ls='ls -G'
alias eustis='ssh al925564@eustis.eecs.ucf.edu'
alias vim='/Applications/MacVim.app/Contents/MacOS/Vim'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
